.navbar-container{
    padding: 2rem;
    background-color: antiquewhite;
    display: flex;
    gap: 2rem;


a{
    font-size: 1.5rem;
    color: darkblue;
    font-weight: 600;

}

}

/* Nested styles are used here to apply styles to 
   anchor tags within the navbar container. */
/* This is a CSS file for styling the Navbar 
   component in a React application */
/* Here anchor tag css is done within navbar container so that only content in
   anchor tag present on navbar only gets changed
No global styles are applied */




/* .navbar-container a {
    font-size: 1.5rem;
    color: darkblue;
    font-weight: 600;
} */
/* 
This another way to write the same code above */