.search-box{
    padding: 10rem;
    background-color: antiquewhite;
    display: flex;
   justify-content: center;
   align-content: center;
   height: 200;
   width:200;


h3{
    font-size: 1.5rem;
    color: darkblue;
    font-weight: 100;

}

}